#question_creator_profile {
	width: 2.5rem;
	height: 2.5rem;
}

#content {
	padding: 0.5rem;
}

.answer_creator_profile {
	width: 2.5rem;
	height: 2.5rem;
}

.send_button {
	background: none;
	padding: 0px;
	border: none;
}