{% load humanize %}
{% load user_profile_photo %}

<div>
	<img class="answer_creator_profile" src="{% get_user_profile_photo answer.user.id %}">
	<a href="/user/{{ answer.user.username }}" class="link-secondary">{{ answer.user.username }}</a>
</div>
<span class="text-secondary">{{ answer.pub_date|naturaltime }}</span>
<div>
	<p>{{ answer.text }}</p>
</div>
{% if request.user.is_authenticated %}
	{% if request.user == answer.user %}
		<form id="delete_answer" method="post" action="/delete_answer">
			{% csrf_token %}
			<input type="hidden" name="answer_id" value="{{ answer.id }}">
			<i class="fa-solid fa-trash" onclick="delete_answer.submit();"></i>
		</form>
	{% endif %}
{% endif %}